body {
    background-color: #e5e5e5;
    color: #333333;
    font-family: 'Quicksand', sans-serif;
}

td, th {
    vertical-align: middle !important;
}

thead td {
    cursor: pointer !important;
}

.main-container {
    margin: 100px auto;
    width: 700px;
    text-align: center;
    font-size: 1em;
}

